﻿
<div class="row counter-row">
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.ProductCount</h1>
		<p>Kahve Çesitlerimiz</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.CategoryCount</h1>
		<p>Kahve Türlerimiz</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.TestimonialCount</h1>
		<p>Müşteri yorumlarımız</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">8</h1>
		<p>Resimlerimiz</p>
	</div>
</div>