@model List<AcunMedya.Cafe.Entities.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Kategori Tablsou </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tablo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategori</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori İsmi</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryId</td>
                                    <td>@item.CategoryName</td>
                                    <td><a href="/Category/UpdateCategory/@item.CategoryId" class="badge badge-info">Güncelle</a></td>
                                    <td><a href="/Category/DeleteCategory/@item.CategoryId" class="badge badge-danger">Sil</a></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <a href="/Category/AddCategory" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Yeni Kategori</a>
                </div>
            </div>
        </div>

    </div>
</div>

